@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800);

html, body {
    overflow-x: hidden;
}

body {
    font-size: 15px;
    background: #fdfdfd;
    font-family: "Open Sans", Tahoma, Arial, Sans-Serif;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
form {
    margin: 0
}
a {
	color: #333; 
    cursor: pointer
}
a, a:focus {
    outline: none;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    color: #0076a1;
}
input, input:focus {
    outline: none
}
#container .container {
    max-width: 960px;
    height: auto;
}
body,h1,h2,h3,h4,p,a {
	font-family: 'Open Sans', sans-serif;
}

 /* ==========================================================================
   Responsive CSS Landscape Tablet
   ========================================================================== */
@media only screen and (min-width: 960px) and (max-width: 1240px) {

}


/* ==========================================================================
   Responsive CSS Portrait Tablet
   ========================================================================== */
@media only screen and (min-width: 768px) and (max-width: 959px) {

}


/* ==========================================================================
   Responsive CSS Landscape Mobile
   ========================================================================== */
@media only screen and (min-width: 480px) and (max-width: 767px) {

}


/* ==========================================================================
   Responsive CSS Portrait Mobile
   ========================================================================== */
@media only screen and (min-width: 100px) and (max-width: 479px) {

}


.slider img{
	width: 100%;
	height: auto;
}

header{
	margin-bottom: 10px;
	position: fixed;
	z-index: 1;
	width: 100%;
}

#wrapper{
	padding: 60px;
}

footer{
	background: #2E2E2E;
  	color: #fff;
  	padding: 20px;
  	text-align: center;
}

nav{
	background-color: #DDD5D5;
}

#wrapper a{
	text-decoration: none;
}

#wrapper .content .slider img {
  width: 100%;
  height: auto;
}
#wrapper .content .box-index h2 {
  text-transform: uppercase;
  font-size: 23px;
  color: #444;
  border-bottom: 3px solid #EEE;
  position: relative;
  margin-bottom: 20px;
  padding: 5px 0;
}
#wrapper .content .box-index h2::before {
  content: "";
  width: 70px;
  background: #2673BB none repeat scroll 0% 0%;
  height: 3px;
  position: absolute;
  bottom: -2px;
  left: 0px;
}
#wrapper .content .box-index .item {
  margin-bottom: 20px;
}
#wrapper .content .box-index .item h3 {
  font-size: 16px;
}
#wrapper .sidebar .sidebar-item {
  margin-bottom: 30px;
}
#wrapper .sidebar .sidebar-item h4.widget-title {
  font-size: 20px;
  color: #444;
  border-bottom: 3px solid #EEE;
  position: relative;
  margin: 0;
  margin-bottom: 20px;
  padding: 5px 0;
}
#wrapper .sidebar .sidebar-item h4.widget-title::before {
  content: "";
  display: block;
  width: 70px;
  background: #2673BB none repeat scroll 0% 0%;
  height: 3px;
  position: absolute;
  bottom: -2px;
  left: 0px;
}
#wrapper .sidebar .sidebar-item .textwidget img {
  width: 100%;
  height: auto;
}